In [ ]:
# LIST
# list is a collection of element of similar or different datatypes
# list is mutable--changes allowed
# list is ordered--every element in list has its own index number
# list is defined in [] brackets
# list allows duplicates values beacuse they all have different index numbers

In [1]:
list1=[45,23.36,True,"Hello",[1,2,3],(4,5,6),{45,96},{1:"hello",2:"World"}]
print(list1)

[45, 23.36, True, 'Hello', [1, 2, 3], (4, 5, 6), {96, 45}, {1: 'hello', 2: 'World'}]

In [5]:
# How to Access values inside list
list1=[45,23,65,87,45,21,23,25,45,21,25,69,87,54,5]
print(list1[2])
print(list1[4:11])
print(list1[-3:-9:-1])
print(list1[-1::-1])

65
[45, 21, 23, 25, 45, 21, 25]
[87, 69, 25, 21, 45, 25]
[5, 54, 87, 69, 25, 21, 45, 25, 23, 21, 45, 87, 65, 23, 45]

In [16]:
# how to change value inside list 
list2=[45,23,65,87,45,21,23,25,45,21,25,69,87,54,5]
list2[2]=[45,36]
print(list2)
# when you have to change more than one value then your value should be in iterable
# all values inside iterable will places inside list as an individual elements
# list2[3:5]=[1,25,36]
# print(list2)

[45, 23, [45, 36], 87, 45, 21, 23, 25, 45, 21, 25, 69, 87, 54, 5]

In [2]:
list1=[14,25,65,87,45,14,25,14,25,25,46,8]
set1=set(list1)
list1=list(set1)
print(list1)
print(set1)

[65, 8, 45, 14, 46, 87, 25]
{65, 8, 45, 14, 46, 87, 25}

In [ ]:
# list functions
# len min max list
# functionname(listname)

In [18]:
list2=[45,23,65,87,45,21,23,25,45,21,25,69,87,54,5]
a=len(list2) #gives lenght of the list
print(a)

15

In [22]:
list2=[45,23,65,87,45,21,23,25,45,21,25,69,87,54,5] # --on numbers basis
# list2=["Hello","Wonderfull","poiyu"] --on ASCII value basis
# list2=["Hello",123,"Wow",5896] --gives error
a=min(list2) #gives minimun value from the list
print(a)

5

In [23]:
list2=[45,23,65,87,45,21,23,25,45,21,25,69,87,54,5] # --on numbers basis
# list2=["Hello","Wonderfull","poiyu"] --on ASCII value basis
# list2=["Hello",123,"Wow",5896] --gives error
a=max(list2) #gives maximum value from the list
print(a)

87

In [30]:
# list() converts only iterables into list
a={1:"hello",2:45,45:"great"}
list1=list(a)
print(list1)

[1, 2, 45]

In [1]:
# Methods oF list
# listname.methodname([parameters])
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [37]:
# append(element)--add element at last of the list wheteher it is iterable or not
list1=[45,689,74,64,7,45,5]
print(list1)
list1.append("hello")
print(list1)

[45, 689, 74, 64, 7, 45, 5]
[45, 689, 74, 64, 7, 45, 5, 'hello']

In [38]:
# extend(iterable)--add iterable at last of the list as an individual elements
list1=[45,689,74,64,7,45,5]
print(list1)
list1.extend("hello")
print(list1)

[45, 689, 74, 64, 7, 45, 5]
[45, 689, 74, 64, 7, 45, 5, 'h', 'e', 'l', 'l', 'o']

In [42]:
# insert(index,element)--add element at given index bu iterable or simple element
# both will add as asingle element
list1=[45,689,74,64,7,45,5]
print(list1)
list1.insert(4,"hello")
print(list1)

[45, 689, 74, 64, 7, 45, 5]
[45, 689, 74, 64, 'hello', 7, 45, 5]

In [46]:
# pop([index])--removes element at given index from the list if index is not given 
# then it removes last element of the list
list1=[45,689,74,64,7,45,5]
print(list1)
list1.pop()
print(list1)
list1.pop(3)
print(list1)
# list1.pop(30) #if we try to remove index which is not in list then indexerror comes
# print(list1)

[45, 689, 74, 64, 7, 45, 5]
[45, 689, 74, 64, 7, 45]
[45, 689, 74, 7, 45]

In [50]:
# remove(element) --it removes first occurence of element from the list
# if element is not in list then it gives ValueError

list1=[45,689,74,64,74,45,5,54,89,65,48,74]
print(list1)
list1.remove(74)
print(list1)
# list1.remove(96587)
# print(list1)

[45, 689, 74, 64, 74, 45, 5, 54, 89, 65, 48, 74]
[45, 689, 64, 74, 45, 5, 54, 89, 65, 48, 74]

In [53]:
# count(element)--gives total occurence of element in list
list1=[45,689,74,64,74,45,5,54,89,65,48,74]
list1.count(74)
list1.count(6987)

0

In [60]:
# index(element)--gives first occurence index of element inside list
# if element is not in list then it gives ValueError
list1=[45,689,74,64,74,45,5,54,89,65,48,74]
list1.index(74)
# list1.index(6987)

2

In [62]:
# clear()--it will clear whole list and makes list empty
list1=[45,69,87,45,69]
print(list1)
list1.clear()
print(list1)

[45, 69, 87, 45, 69]
[]

In [64]:
# sort([reverse=True])--arrange the list in ascending order and is reverse=true 
# then arrange in descending order
list1=[45,689,74,64,74,45,5,54,89,65,48,74]
# list1.sort()
# print(list1)
list1.sort(reverse=True)
print(list1)

[689, 89, 74, 74, 74, 65, 64, 54, 48, 45, 45, 5]

In [65]:
# reverse()--it will just reverse the list
list1=[45,689,74,64,74,45,5,54,89,65,48,74]
print(list1)
list1.reverse()
print(list1)

[45, 689, 74, 64, 74, 45, 5, 54, 89, 65, 48, 74]
[74, 48, 65, 89, 54, 5, 45, 74, 64, 74, 689, 45]

In [67]:
list1=[45,63,69,87,89,6]
list2=list1
print(list1)
print(list2)
list1[2]="hello"
print(list1)
print(list2)

[45, 63, 69, 87, 89, 6]
[45, 63, 69, 87, 89, 6]
[45, 63, 'hello', 87, 89, 6]
[45, 63, 'hello', 87, 89, 6]

In [68]:
# copy()--copy one list to another
list1=[45,63,69,87,89,6]
list2=list1.copy()
print(list1)
print(list2)
list1[2]="hello"
print(list1)
print(list2)

[45, 63, 69, 87, 89, 6]
[45, 63, 69, 87, 89, 6]
[45, 63, 'hello', 87, 89, 6]
[45, 63, 69, 87, 89, 6]