In [ ]:
# Operators ---it is something which perform operations on operands
87+32 --expression
87,32 operands
+ operator

In [ ]:
# Types of operators in python
arithmetic operator + - * / %(modulus) //floor division **(power)
relational operators > < >= <= == !=
Logical operators and or not
bitwise operators & | >> << ^Bitwise exclusice or(XOR)
identity operator is is not
membership operator in not in
assignement operator = += -= *= /=.....

In [10]:
# Arithmetic Operators
# + - / * %(Modulus) //(floor division) **power
print(10+56.32)
print(45-89)
print(44*55)
print(45/85)
print(2**3)
print(10.5%3)
print(45//4)

66.32
-44
2420
0.5294117647058824
8
1.5
11

In [16]:
# relational Operator > < >= <= == != Boolean True False
print(10<5)
print(95>=95)
print(45>12)
print(45==89)
print(23!=458)

False
True
True
False
True

In [19]:
print("hello"<"wow")#ASCII VALUE
print("Hello">"hellotic")

True
False

In [ ]:
# LOGICAL OPERATOR and or not
print(87>52) #True
print(49==25) #False
print(14!=25) #True
print(102<21) #False
# and---so if all conditions are True then Final Result True if atleast one 
# condition is false then final result is False

# or---so if all condition is flase then false and if atleast
# one true then true

and---It will reverse your answer means True Becomes False And vice versa

In [42]:

print(not(48>52))

True

In [20]:
print(87>52 and 49==25 or 14!=25 and 102<21)
# it's decides on associativity of operator
a=4>25<=48==25!=85
a=0<=48==25!=85
a=1==25!=85
a=0!=85
a=1--True

False

In [ ]:
85>=45
85>45 or 85=45

In [21]:
print(4>25<=48==25!=85)

False

In [27]:
int(0!=85)

1

In [33]:
14.9999999999999999

15.0

In [ ]:
bit is the samllest unit of memory
which has only two values 0 and 1

In [ ]:
85&25 --binary format

In [34]:
89&45

9

In [35]:
89|45

125

In [39]:
45>>3
45<<3
45^89
Bitwise exclusive Or says 
same then False means 0 but when not same then TRue means 1

116

In [40]:
# Assignement Operatos

a=45
a=a+6
a+=6
a=b+6
a=a+6
a+=6
a=a/9
a/=9
a=a>>2
a>>=2
print(a)

51