In [1]:
print("hello")
print("demo")

hello
demo

In [ ]:
# conditional staements
# simple if
# if else
# if ...elif..elif.........else (ladder if else)
# nested if

In [4]:
print("1")
print("2")
print("3")
print("4")
print("5")
print("6")
print("7")

1
2
3
4
5
6
7

In [ ]:
# simple if
if condition:
    h4r5h
    e4th45h
    45h45h
erg4th45
th45h

In [2]:
# id()
a=89.23
print(id(a))
b=45.36
print(id(b))

2105527329040
2105530334864

In [20]:
# identity operator is is not

a=89
b=89
a is b

True

In [25]:
# membership operator

str1="wow this is wonderful"
'wop' not in str1

True

In [27]:
# ~ tilde one's complement
print(~10)
print(~(-8))

positive value turn into negative and  +1
negative value turns into positive and -1

-11
7

In [ ]:
89  -90
-36  35

In [29]:
# Simple If
age=int(input("Enter Age: "))
if age>18:
    print("Adult")

Enter Age: 12

In [ ]:
# If...else
if condition:
    body of if
else:
    body of else

In [61]:
age=int(input("Enter Age: "))
if age>0 and age<150:
    if age>18:
        print("Adult")
    else:
        print("Not adult")
else:
    print("Age is invalid")

Enter Age: 45
Adult

In [ ]:
# ladder if else-----if elif...elif............else
if condition1:
    body of if
elif condition2:
    body of elif
elif conditon3:
    body of elif
    
    .
    .
    .
    .
    .
[else:
    body of else]

In [55]:
name=input("Enter Your NAme: ")
# m1=20,m2=89,m3=45,m4=56,m5=57
# m1,m2,m3,m4,m5=56,45,89,78,48
# total=m1+m2+m3+m4+m5
# percent=(total/500)*100
percent=float(input("Enter Percentage: "))
if percent>90 and percent<100:
    print('A1')
elif percent>80 and percent<=90:
    print("B1")
elif percent>70 and percent<=80:
    print("C1")
elif percent>60 and percent<=70:
    print("D1")
elif percent>33 and percent<=60:
    print("D2")
elif percent<33 and percent>0:
    print("Fail")

Enter Your NAme: -89
Enter Percentage: -89

In [47]:
# if number is potive negative or zero
num=int(input("Enter Number: "))
if num<0:
    print("Negative")
elif num>0:
    print("Positive")
elif num==0:
    print("Zero")

Enter Number: -78
Negative

In [57]:
num=int(input("Enter a number"))
if num>89:
    print("hello")
elif num>89:
    print("Hello")
elif num>89:
    print("Demo")

Enter a number96
hello

In [ ]:
nested if else:

In [ ]:
# loop
# for loop  collections iterables range,list,string,tuple,set ,dictionary
# while loop   condition

In [ ]:
# Syntax of for loop

for iterating_variable in collection:
    body
    of
    the
    loop

In [65]:
for i in [45,96,89]:
    print(i**2)

2025
9216
7921

In [ ]:
# range([start],stop,[step])
# range(9)--0 ----8

In [66]:
print(range(5,15))

range(5, 15)

In [70]:
for i in range(9,15): #inclusive,exclusive
    print(i)

9
10
11
12
13
14

In [71]:
for i in range(5,45,3):
    print(i)

5
8
11
14
17
20
23
26
29
32
35
38
41
44

In [ ]:
-9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9

range(2,9,+1) ---left to right
range(6,-5,-1)----right to left

In [4]:
for i in range(6,-5,-1):
    print(i)

6
5
4
3
2
1
0
-1
-2
-3
-4

In [ ]:
# while condition:
body 
of
the
loop

In [1]:
a=20
while a<90:
    print(a)
    a+=1

20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89

In [3]:
num=int(input("Enter number: "))
a=1
while a<11:
    print(f"{num} x {a} = {num*a}\n")
    a+=1

Enter number: 78
78 x 1 = 78

78 x 2 = 156

78 x 3 = 234

78 x 4 = 312

78 x 5 = 390

78 x 6 = 468

78 x 7 = 546

78 x 8 = 624

78 x 9 = 702

78 x 10 = 780

In [11]:
num=int(input("Enter a Number: "))
total=0
for i in range(0,num+1,2):
    total=total+i
print(total)

Enter a Number: 15
56

In [14]:
year=int(input("Enter A year: "))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print("leap Year")
        else:
            print("Not a leap year")
    else:
        print("leap Year")
else:
    print("Not a leap year")

Enter A year: 1997
Not a leap year

In [15]:
# 1847 1+8+4+7=20 
num=int(input("Enter NUmber: "))
total=0
while num!=0:
    rem=num%10
    total=total+rem
    num=num//10

print(total)

# 121  121 plaindrome
# 4589 9854 not palindrome

Enter NUmber: 4859
26