In [ ]:
# variables
# variable means a storage location to store values

# Syntax to create variable

# variablename=value

In [ ]:
# Variablename will be as your choice but by following some rules
gjge=89
# Rules of identifiers
# 1- First character of Name should be Lowercase letters(a-z) ,Uppercase letters(A-Z) and undercore(_)
# 2- other character of Name should be Lowercase letters(a-z) ,Uppercase letters(A-Z), undercore(_)
# and digits(0-9)

# Name should a logical word
# space cannot allow FUll NAme  FUll_NAme
# Name cannot be a keyword

global=89
age=89

In [1]:
age=45
print(age)

45

In [4]:
# Formatted String
print(f"hello How are you {age} ")

hello How are you 45

In [5]:
# User Input
name="wow"
email="wow@gmail.com"
number=87459621
print(f"Your Name is {name} and your email is {email} and number is {number}")

Your Name is wow and your email is wow@gmail.com and number is 87459621

In [7]:
# variablename=input(["message"])
# name=input()
name =input("Enter Your NAme: ")
print(f"Your name is {name}")

Enter Your NAme: jdk jkerbvjer
Your name is jdk jkerbvjer

In [ ]:
# Datatype

integer--int-- 59 87 45 635 1- 89 -565 -231
float---float--- 78.36 -0.12 56.47
Boolean---True ,False
String--'' "" """ """  '''  ''' "True"

collections
list=[45,98]
tuple=(78,96)
set={78,36}
dictionary={1:"value"}

In [11]:
a=True
# type(variable)
type(a)

bool

In [14]:
demo=input("Enter Something")
print(demo)
print(type(demo))

Enter SomethingTrue
True
<class 'str'>

In [1]:
# Typecasting---Changing one datatype into another
a=58.36
# float(a)
int(a)
# str(a)
# int(a)

58

In [2]:
age=int(input("Enter Age: "))

Enter Age: 58.36

ValueError: invalid literal for int() with base 10: '58.36'

In [ ]:
# Operators

arithmetic Operators  + - * / ** // %
relational Operators > < >= <= == !=
assignement operators = >= <= += -= *=......
Logical operators and or not
bitwise operators bitwise or ,bitwise and, bitwise not, bitwise exclisve or (XOR)
identity operator is is not
membership operator in not in

In [14]:
# Arithmetic operators
# print(45+65)
# print(89-23)
# print(78*63)
# print(44/23)
# print(25%4)
# print(3**4)
# print(26//9)
a="hello"
b="demo"
print(a+b)

hellodemo

In [15]:
a=45
b=True
print(a+b)

46

In [18]:
a="89"
int(a)

89

In [24]:
# relational Operator
a=45
b=29
print(45>29)
print(int(29<45))
print(45<=45)
print(89>=101)
print(48==84)

True
1
True
False
False

In [29]:
print("Hel">"Helli")
0>108
# 111>105

False

False

In [ ]:
# Logical Operators

# and --if all condition is true then true if any one ore more than one is false then false
# or--if anyone one condition is true then answer is true but if all condition is flase then false 
# not ---it will reverse your answer from Ture to false and vice versa

In [ ]:
84>98 --False

16>5 ---True


True False True True True

In [5]:
89<56 or 45<21 or 11<5

False

In [7]:
not(89>45)

False

In [8]:
# assignement Operator
# =
# var="hello"
a=89
# a=a*5
a*=5 --short hand notation
a+=5
a=a+5
print(a)
b=b+8

94

In [ ]:
# Bitwise operator
# bitwise and---&
# bitwise or---|
# bitwise exclusive or--XOR--- ^ ---same then false --different then true
#bitwise right shift >>
# bitwise left shift  <<

In [13]:
89&56
89|56
89>>3
89<<3
89^56

97

In [14]:
print(125&83)
print(125|83)
print(125^83)
print(125>>4)
print(125<<2)

81
127
46
7
500