In [ ]:
# list
# list is a collection of elements of different as well as same datatype
# list is mutable ----changes allowed
# list is ordered collection
# list is defined in []

In [2]:
list1=[254,56.32,True,"String",[45,25,12],(14,15),{1,2,3},{1:"hello",2:"Oput"}]
print(list1)
print(list1[3])
print(list1[4][1])

[254, 56.32, True, 'String', [45, 25, 12], (14, 15), {1, 2, 3}, {1: 'hello', 2: 'Oput'}]
String
25

In [5]:
list1=[14,56,89,74,58,45]
list1[3]="hello"
print(list1)

[14, 56, 89, 'hello', 58, 45]

In [ ]:
str1="Fern jkbrtkjb mngbjhrtb fmnb jhvrtbj jhgfbrt"

In [12]:
list1=[1,5,4,87,8,96,5,48,6,21,6,56,74]
print(list1[4:9])
list1[4:9]=range(100,500,52)
print(list1)

[8, 96, 5, 48, 6]
[1, 5, 4, 87, 100, 152, 204, 256, 308, 360, 412, 464, 21, 6, 56, 74]

In [ ]:
# list functions
# functionname(listname)
len()---gives lenght of list
min() ---gives minimum value from list
max()----gives maximum value from list
list()---chnages other iterable into list

iterable---collection

range()
string
list
tuple
set 
dictionary

In [5]:
# len()
list1=[45,89,65,21,45,78,96,32,56,96]
x=len(list1)
print(f"Lenght of list is {x}")

Lenght of list is 10

In [6]:
# min()
list1=[45,89,65,21,45,78,96,32,56,96] #baisi of maths rule
min(list1)

21

In [7]:
list1=["Apple","banana","Watermelon"] #basis of ascii value
min(list1)

'Apple'

In [8]:
list1=[45,36,56,"hello",45,"demo","GREAT HERITAGe"]
min(list1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [9]:
# max()
list1=[45,89,65,21,45,78,96,32,56,96] #baisi of maths rule
max(list1)

96

In [10]:
list1=["Apple","banana","Watermelon"] #basis of ascii value
max(list1)

'banana'

In [11]:
list1=[45,36,56,"hello",45,"demo","GREAT HERITAGe"]
max(list1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [16]:
list((45,23,"hello","wow"))

[45, 23, 'hello', 'wow']

In [ ]:
# list methods
listname.methodname(parameters)

In [ ]:
list methods
append()
extend()
insert()
pop()
remove()
index()
count()
sort()
clear()
copy()
reverse()

In [27]:
# append(element) --add element at last of list
list1=[45,69,87,42,23,54,6]
list1.append([45,63,25])
print(list1)

[45, 69, 87, 42, 23, 54, 6, [45, 63, 25]]

In [26]:
# extend(iterable)---add iterable at last of list as an individual element
list1=[45,96,35,21,45,87,9]
list1.extend([45,63,25])
print(list1)

[45, 96, 35, 21, 45, 87, 9, 45, 63, 25]

In [31]:
# insert(index,element)--add element at particular index
list1=[45,96,35,21,45,87,9]
list1.insert(5,"hello")
print(list1)

[45, 96, 35, 21, 45, 'hello', 87, 9]

In [32]:
num=int(input("Enter number: "))
list1=[]
for i in range(num):
    value=input("Enter Value: ")
    list1.append(value)
    
print(list1)

Enter number: 5
Enter Value: hello
Enter Value: i
Enter Value: am
Enter Value: good
Enter Value: about
['hello', 'i ', 'am', 'good', 'about']

In [36]:
# pop([index])---removes element from particular index if index is not
# given then it removes last lement

list1=[45,69,87,145,21,45,63,25,89,68]
list1.pop(3)
print(list1)
# list1.pop()
# print(list1)
# list1.pop(30) --gives index error
# print(list1)

[45, 69, 87, 21, 45, 63, 25, 89, 68]

In [40]:
# remove(element)----removes first occurence of element in list
list1=[45,36,58,96,45,12,36,54,56,89,89,865,86]
list1.remove(45)
print(list1)
# list1.remove(4558) --valueError
# print(list1)

ValueError: list.remove(x): x not in list