In [ ]:
# Set is also acollection pof element of similar or different datatype
# set is defined in culryt braces
# set is muatble but only by using theri methods
# set is unordered datatype means they have no indexes
# element in set is arranged in random manner
# sets does not allow duplicates values because they don't have indexes

In [ ]:
set1={45,69.36,False,"String",(48,96)}
# set only contains datatype which is immutable
print(set1)

{False, (48, 96), 69.36, 'String', 45}

In [ ]:
set1={1,2,3,1,2,3,1,2,3}
print(set1)

{1, 2, 3}

In [ ]:
list1=set()
print(type(list1))

<class 'set'>

In [ ]:
list1=(True,)
print(type(list1))

<class 'tuple'>

In [ ]:
# set methods
# list(dir(set))

'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update'

In [ ]:
set1={45,96,87,41,23,69,45,89}
set2={78,96,84,52,14,45,89}
# union()--combines elements of two sets
set3=set1.union(set2)
print(set1,set2,set3)

{96, 89, 69, 87, 23, 41, 45} {96, 84, 52, 14, 89, 45, 78} {96, 69, 41, 45, 14, 78, 23, 84, 52, 87, 89}

In [ ]:
set1={45,96,87,41,23,69,45,89}
set2={78,96,84,52,14,45,89}
# intersection()--gives common of two sets
# set3=set1.intersection(set2)
set2.intersection_update(set1)
print(set1,set2)

{96, 89, 69, 87, 23, 41, 45} {96, 89, 45}

In [ ]:
set1={45,89,74,21,36}
set1.add("hello")
# add()--add new element in the set at random position
print(set1)
set1.add("great")
print(set1)

{'hello', 36, 21, 89, 74, 45}
{'hello', 36, 21, 89, 74, 45, 'great'}

In [ ]:
# pop()--removes random element from the s

{101, 21, 89, 74, 45}

In [ ]:
# remove(value)---removes particular value from set
set1={45,89,74,21,36,101}
set1.remove(8965)
print(set1)

KeyError: 8965

In [ ]:
# discard()---removes element from set
set1={45,89,74,21,36,101}
set1.discard(8965)
print(set1)

{36, 101, 21, 89, 74, 45}

In [ ]:
set1={48,96,32}
set1.update((89,))
print(set1)

{48, 89, 32, 96}

In [ ]:
set1={48,96,35,45,65}
set2={89,56,21,96,45}
set3=set1.intersection(set2)

set4=set2.copy()
print(set3)
for i in set3:
    set4.remove(i)
    
print(set4)

{96, 45}
{21, 56, 89}

In [ ]:
set1={48,96,35,45,65}
set2={89,56,21,96,45}
set3=set()
for i in set2:
    if i not in set1:
        set3.add(i)
print(set3)

{56, 89, 21}

In [ ]:
set1={48,96,35,45,65}
set2={89,56,21,96,45}
# set3=set1.difference(set2)
set1.difference_update(set2)
print(set1)

{65, 48, 35}

In [ ]:
set1={48,96,35,45,65}
set2={89,56,21,96,45}
set3=set1.symmetric_difference(set2)
print(set3)

{65, 48, 35, 21, 56, 89}

In [2]:
set1={4,5}
set2={7,8,4,5,6}
set1.issubset(set2)

False

In [5]:
set1={4,5,9}
set2={7,8,4,5,6}
set2.issuperset(set1)

False

In [7]:
set1={1,2,3}
set2={4,5,6,1}
set1.isdisjoint(set2)

False

In [11]:
input("Enter Something")

Enter Something

''

In [1]:
a="    "
list1=[]
while a!="":
    a=input("Enter Something: ")
    list1.append(a)
    
print(list1)

Enter Something: yrthr
Enter Something: ytjyt
Enter Something: ytmytm
Enter Something: ytjyt
Enter Something: iuliu
Enter Something: efwef
Enter Something: werfvwerg
Enter Something: hgt
Enter Something: hrt
Enter Something: hrt
Enter Something: erh
Enter Something:
['yrthr', 'ytjyt', 'ytmytm', 'ytjyt', 'iuliu', 'efwef', 'werfvwerg', 'hgt', 'hrt', 'hrt', 'erh', '']