In [ ]:
String is an immutable datatype
immutable means unchangeable
string is defined in '' "" ''' ''' """ """
string have both single line string and multiline string
string allows duplicated
every element in string has its index value for reference

In [ ]:

varachaa                                       katargam                             Railway station

In [5]:
str1="Hello World"
str1="WOW Great"
type(str1)

str

In [ ]:
# string accessing

In [15]:
str1="Hello this is fun to learn python"
print(str1[6:17])
print(str1[16:5:-1])
print(str1[-27:-16])
print(str1[-16:-27:-1])

this is fun
nuf si siht
this is fun
 nuf si sih

In [ ]:
# String Function
len
min
max
str

In [16]:
# len()--calculate lenght of string
str1="jrufdgj vherfb"
l=len(str1)
print(l)

14

In [28]:
# min()--minimum from string based on ASCII value
str1="*456328795498s--fjkngvfj"
k=min(str1)
print(k)

*

In [30]:
# max()---maximum from string based on ASCII value
str1="*456328795498s--{fjkngvfj"
k=max(str1)
print(k)

{

In [36]:
str1=str([1,2,3,4])
str1
'1234'
'12345678910111213141516'

'[1, 2, 3, 4]'

In [40]:
# str1="".join(["hello","world"])
# str1="".join(range(1,20))
str1="".join(['1','2','3','4'])
str1

'1234'

In [8]:
range(1,20)
print(range(1,20))

range(1, 20)

In [44]:
# string methods
# dir(str1)
 ['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

IndentationError: unexpected indent (2466657791.py, line 3)

In [ ]:
# when we apply string methods all changes id effected in a copy of stri ng
# but original string will never effect or change bcz its immutable

In [ ]:
len(str)
str.

In [47]:
str1="hfdj jhfdbvk JSFNJK zhdnf zKWSFc mkhbfk"
print(str1.capitalize()) #uppercase first letter and remaining will be lowercase
print(str1)

Hfdj jhfdbvk jsfnjk zhdnf zkwsfc mkhbfk
hfdj jhfdbvk JSFNJK zhdnf zKWSFc mkhbfk

In [48]:
str1="hfdj jhfdbvk JSFNJK zhdnf zKWSFc mkhbfk"
print(str1.title()) #uppercase every word of string and lowercase the remaining letters of word

Hfdj Jhfdbvk Jsfnjk Zhdnf Zkwsfc Mkhbfk

In [50]:
name=input("Enter Yourr FUllname: ")
print(name.title())

Enter Yourr FUllname: SugaNDH GuPTa
Sugandh Gupta

In [58]:
str1="Hello hello hello how are your"
# str1.center(width,["fillchar"])--center the whole string with given width and also we can 
# fill character in remaining spaces
str1.center(80)
str1.center(100,"-")
# '=====================================Hello======================================'

'-----------------------------------Hello hello hello how are your-----------------------------------'

In [60]:
str1="Hello hello hello how are your"
# str1.ljust(width,["fillchar"])--left justify the whole string with given width and also we can 
# fill character in remaining spaces
str1.ljust(80,"*")

'Hello hello hello how are your**************************************************'

In [61]:
str1="Hello hello hello how are your"
# str1.rjust(width,["fillchar"])--right justify the whole string with given width and also we can 
# fill character in remaining spaces
str1.rjust(80,"*")

'**************************************************Hello hello hello how are your'

In [ ]:
str1.count("o")
str1.count("o",6)
str1.count("o",6,20)
str1.count("o",96,800)

In [71]:
str1="Hello hello hello how are your"
# str1.count(substring,[start],[stop])
str1.count("o")
str1.count("o",6)
str1.count("o",6,20)
str1.count("o",5,800)

4

In [83]:
str1="Hello hello hello how are your"
# str1.index(substring,[start],[stop]) return index of first occurence of element
str1.index("e")
str1.index("e",9)
str1.index("e",9,25)
# str1.index("ex") #---ValueError: substring not found

13

In [88]:
# find(substring,[strat],[stop])
str1="Hello hello hello how are your"
str1.find("e")
str1.find("e",9)
str1.find("e",9,25)
str1.find("ex")

-1

In [93]:
str1=input("Enter Your string: ")
str2=input("Enter String to find: ")
ans=str1.find(str2)
if ans==-1:
    print("Not found")
else:
    print(ans)

Enter Your string: Hello hello hello how are your
Enter String to find: ex
Not found

In [94]:
str1="hello"
print(str1*5)

hellohellohellohellohello

In [99]:
num=int(input("Enter Number: "))
for i in range(1,num+1):
    str1="* "*i
    print(str1)

Enter Number: 6
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [3]:
str1="efne jJDNJK jbnfj ß JBDNJKSNDKJSkefne  ke"
str1.casefold()#converts whole string in lowercase

'efne jjdnjk jbnfj ss jbdnjksndkjskefne  ke'

In [4]:
str1="efne jJDNJK jbnfj ß JBDNJKSNDKJSkefne  ke"
str1.lower()#converts whole string in lowercase

'efne jjdnjk jbnfj ß jbdnjksndkjskefne  ke'

In [8]:
# endswith("substring",[start],[stop])
str1="jkdvnjk jbnjkfbk jnjKIJNDWKIOD"
# str1.endswith("KIOD")
str1.endswith("KIOD",12,25)

False

In [11]:
str1="JNEJF kndjkn"
str1.startswith("JNE",5,8)

False

In [12]:
str1="    kdnkl klfdnklgvfn       "
str1.lstrip()

'kdnkl klfdnklgvfn       '

In [13]:
str1="    kdnkl klfdnklgvfn       "
str1.rstrip()

'    kdnkl klfdnklgvfn'

In [14]:
str1="    kdnkl klfdnklgvfn       "
str1.strip()

'kdnkl klfdnklgvfn'

In [18]:
str1="JDHWJ jhb\tjkhg\tvf"
print(str1)
str1.expandtabs(25)

JDHWJ jhb	jkhg	vf

'JDHWJ jhb                jkhg                     vf'

In [19]:
str1="djhnjn {} jnJN{}FDJN"
str1.format("Hello","World")

'djhnjn Hello jnJNWorldFDJN'

In [22]:
# partition(substring)
str1="JDWEIO juhfjnf JKDHA jbhjkbvkhd khb"
str1.partition("JKD")
# str1.partition("jhjkujkukio")

('JDWEIO juhfjnf ', 'JKD', 'HA jbhjkbvkhd khb')

In [23]:
str1="djiusdjj jnJHNSJFN"
str1.swapcase()

'DJIUSDJJ JNjhnsjfn'

In [24]:
str1="bcjkd jBNJKSBDNS"
str1.upper()

'BCJKD JBNJKSBDNS'

In [27]:
str1="JKF jkdbvkjdnbn"
str1.replace("kd","O89")

'JKF jO89bvkjdnbn'

In [29]:
str1="hjfjkgvJKBFKJBSjkfb88545"
str1.isalnum()

True

In [33]:
str1="jhjfhbnfkvk"
str1.isalpha()

False

In [38]:
str1="6854684/58" expression
print(str1.isdecimal())
print(str1.isdigit())
print(str1.isnumeric())

False
False
False

In [40]:
str1="djkvfdn ß jdnvjkd"
str1.isascii()

False

In [42]:
str1="djkf jk\nhfdvbk"
print(str1)
str1.isprintable()

djkf jk
hfdvbk

False

In [47]:
str1="True"
str1.isidentifier()

True

In [52]:
l1=["hello","world","demo"]
str1="*".join(l1)
print(str1)

hello*world*demo

In [ ]:
str1.translate

In [53]:
"88+32"

'88+32'

In [54]:
eval("89+36")

125

In [55]:
88+36

124

In [56]:
que=input("Enter Your task: ")
print(eval(que))

Enter Your task: 88+36-89*4
-232

In [58]:
que=int(input("Enter Your task: "))

Enter Your task: 45+

ValueError: invalid literal for int() with base 10: '45+'