In [ ]:
# list is a collection of elements of similar or different datatype
# list is ordered datatype beacuse of index number
# list is mutable changes allowed
# list allows duplicates beacuse of index number identifies uniquely
list is defined in [ ]
# elements are separated by comma(,)

In [3]:
list1=[2569,45.23,True,"Hello World",[45,36,52],(47,85),{45,36},{1:"value",56:"your"}]
print(list1)
print(list1[3])
print(list1[4:7])

[2569, 45.23, True, 'Hello World', [45, 36, 52], (47, 85), {36, 45}, {1: 'value', 56: 'your'}]
Hello World
[[45, 36, 52], (47, 85), {36, 45}]

In [4]:
str1="hello"
str1[3]="p"

TypeError: 'str' object does not support item assignment

In [5]:
list1=[45,36,52,145,8,75]
list1[4]="python ki dunia"
print(list1)

[45, 36, 52, 145, 'python ki dunia', 75]

In [6]:
list1=[45,36,52,145,8,75]
list1[2:5]=[45,36]
print(list1)

[45, 36, 45, 36, 75]

In [ ]:
# list functions
len
min
max
list

In [7]:
# len
list1=[45,65,87,45,21,21,24,54,5469,89,56]
a=len(list1)
print(a)

11

In [10]:
# min
list1=[45,36,2,14,58,79,65,84,569]
print(min(list1))
list2=["hello","Wow","Great","apple","Zebra"]
print(min(list2))

2
Great

In [11]:
# max
list1=[45,36,2,14,58,79,65,84,569]
print(max(list1))
list2=["hello","Wow","Great","apple","Zebra"]
print(max(list2))

569
hello

In [13]:
list1=[45,65,23,"Hello","demo","Great",45,89]
# print(min(list1))
# print(max(list1))

TypeError: '>' not supported between instances of 'str' and 'int'

In [19]:
# list
list1=list("hello wolrd")
print(list1)
list1=list(range(45,69,6))
print(list1)
list1=list((45,69,85,47,85,4))
print(list1)
list1=list({45,65,89,65,47,8})
print(list1)
list1=list({1:"great","python":45})
print(list1)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'l', 'r', 'd']
[45, 51, 57, 63]
[45, 69, 85, 47, 85, 4]
[65, 8, 89, 45, 47]
[1, 'python']

In [ ]:
# list methods

# add values
append()
extend()
insert()

# remove values
pop()
remove()

# list additional task
index()
count()

# other methods
sort()
reverse()
copy()
clear()

In [1]:
# dir(list)

In [4]:
# List Methods
# 1---Append(element) ----add element at last of the list
list1=[45,23,54,"hello",True]
print(list1)
list1.append(98)
# len(list1)
print(list1)

[45, 23, 54, 'hello', True]
[45, 23, 54, 'hello', True, 98]

In [6]:
# 2--- extend(iterable)--add element at last of the list
# as an individula from iterable
list1=[45,23,54,"hello",True]
print(list1)
list1.extend([48,56,98,54])
print(list1)

[45, 23, 54, 'hello', True]
[45, 23, 54, 'hello', True, 48, 56, 98, 54]

In [9]:
# 3---insert(index,element) --add element at given index
list1=[45,23,54,"hello",True]
print(list1)
list1.insert(2,"This is funny")
print(list1)

[45, 23, 54, 'hello', True]
[45, 23, 'This is funny', 54, 'hello', True]

In [13]:
# 4---pop([index])-- removes element at given index but if index is not given 
# then it removes last element
list1=[45,65,89,87,45,63,25,45,86,96,58,7]
print(list1)
# list1.pop(548)  ---IndexError Pop index out of range
list1.pop(3)
print(list1)

[45, 65, 89, 87, 45, 63, 25, 45, 86, 96, 58, 7]
[45, 65, 89, 45, 63, 25, 45, 86, 96, 58, 7]

In [17]:
# 5--- remove(element) ---removes given element at first occurence
list1=[45,65,89,87,45,63,25,89,45,86,96,58,7,89]
print(list1)
list1.remove(89)
# list1.remove(4587) ValueError --- x not in list
print(list1)

[45, 65, 89, 87, 45, 63, 25, 89, 45, 86, 96, 58, 7, 89]
[45, 65, 87, 45, 63, 25, 89, 45, 86, 96, 58, 7, 89]

In [19]:
# index(element) --gievs index of element at its first occurence
list1=[45,65,89,87,45,63,25,89,45,86,96,58,7,89]
print(list1)
list1.index(89)
# list1.index(4589) --ValueError 4589 not in list

[45, 65, 89, 87, 45, 63, 25, 89, 45, 86, 96, 58, 7, 89]

ValueError: 4589 is not in list

In [22]:
# count(element) ---give total occurence of element if element is not in list
# then it gives 0
list1=[45,65,89,87,45,63,25,89,45,86,96,58,7,89]
print(list1)
list1.count(89)

[45, 65, 89, 87, 45, 63, 25, 89, 45, 86, 96, 58, 7, 89]

3

In [23]:
# clear()---clear whole list and makes list empty
list1=[45,65,89,87,45,63,25,45,86,96,58,7]
print(list1)
list1.clear()
print(list1)

[45, 65, 89, 87, 45, 63, 25, 45, 86, 96, 58, 7]
[]

In [25]:
# sort([reverse=True])---arrange element in ascending or descending order
list1=[45,65,89,87,45,63,25,45,86,96,58,7]
print(list1)
list1.sort()  #ascending
list1.sort(reverse=True) #descending
print(list1)

[45, 65, 89, 87, 45, 63, 25, 45, 86, 96, 58, 7]
[96, 89, 87, 86, 65, 63, 58, 45, 45, 45, 25, 7]

In [28]:
list1=["hello","I","am","Living","in","Korea","help"]
print(list1)
list1.sort()  #ascending
# list1.sort(reverse=True) #descending
print(list1)

['hello', 'I', 'am', 'Living', 'in', 'Korea', 'help']
['I', 'Korea', 'Living', 'am', 'hello', 'help', 'in']

In [29]:
list1=["hello","I",58,98,65,21,"am","Living","in","Korea","help"]
print(list1)
list1.sort()  #ascending
# list1.sort(reverse=True) #descending
print(list1)

['hello', 'I', 58, 98, 65, 21, 'am', 'Living', 'in', 'Korea', 'help']

TypeError: '<' not supported between instances of 'int' and 'str'

In [31]:
list1=[36,58,74,85,96,45]
print(list1)
list1.reverse()
print(list1)

[36, 58, 74, 85, 96, 45]
[45, 96, 85, 74, 58, 36]

In [34]:
# copy()---copy one list into another varible
list1=[45,63,25,48]
list2=list1.copy()
print(list1)
print(list2)
list1[3]="hello"
print(list1)
print(list2)

[45, 63, 25, 48]
[45, 63, 25, 48]
[45, 63, 25, 'hello']
[45, 63, 25, 48]

In [35]:
list1=[45,"hello","all",98]
list2=list1
print(list1)
print(list2)
list1[3]="hello"
print(list1)
print(list2)

[45, 'hello', 'all', 98]
[45, 'hello', 'all', 98]
[45, 'hello', 'all', 'hello']
[45, 'hello', 'all', 'hello']