In [ ]:
# Tuple is a collection of elements of similar or different datatype
# tuple is ordered datatype beacuse of index number
# tuple is immutable changes not allowed
# tuples allows duplicates beacuse of index number identifies uniquely
# tuple is defined in ()
# elements are separated by comma(,)

In [1]:
tuple1=(154,56.32,True,"Hello",[45,36],(45,26),{45,32},{1:"hello"})
print(tuple1)

(154, 56.32, True, 'Hello', [45, 36], (45, 26), {32, 45}, {1: 'hello'})

In [32]:
# tuple1[1]="WOW"
tuple1[3:7]

('Hello', [45, 36], (45, 26), {32, 45})

In [4]:
# tuple function
# len()---give lenght of tuple
tup1=(45,36,58,74,59,85,65,412)
a=len(tup1)
print(a)

8

In [5]:
# min
tup1=(45,36,58,74,59,85,65,412)
min(tup1)

36

In [6]:
tup1=("Hello","demo","great")
min(tup1)

'Hello'

In [7]:
tup1=("Hello","demo","great",45,69,87)
min(tup1)

TypeError: '<' not supported between instances of 'int' and 'str'

In [8]:
# max()---gives maximum value
tup1=(45,36,58,74,59,85,65,412)
max(tup1)

412

In [9]:
tup1=("Hello","demo","great")
max(tup1)

'great'

In [13]:
# tuple()----converts any iterable into tuple
# a=tuple(range(45,123))
# a=tuple([45,32,65,48])
# a=tuple("hello World")
print(a)

('h', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

In [16]:
# methods of tuple
# index(element) ---gives index of element 
tup1=(45,36,58,74,59,85,65,412)
tup1.index(4589)

ValueError: tuple.index(x): x not in tuple

In [20]:
# count(element)---gives number of oocurences
tup1=(45,36,58,74,59,85,65,412,36,58,56,98,569,23,36,38)
tup1.count(59)

1

In [22]:
l1=[45,36]
print(type(l1))
l1=[45]
print(type(l1))

<class 'list'>
<class 'list'>

In [30]:
t1=(45,36)
print(type(t1))
t1=(78,)
print(type(t1))

<class 'tuple'>
<class 'tuple'>

In [ ]:
# set()
# set is a collection of elelements of similar or different datatype
# set is mutable but using their functions
# set is defined in {}
# set is unordered collection
# set not allows duplicates values

In [38]:
set1={45,3.25,65,89,65,869635,36,45,45,45}
print(set1)

{65, 3.25, 869635, 36, 89, 45}

In [90]:
# dir(set)

In [42]:
set1={45,32,56}
set1.add("hello")
set1.add(487)
set1

{32, 45, 487, 56, 'hello'}

In [44]:
set1={45,36,58,98,7}
set2={45,68,99,89,698}
set1.union(set2)

{7, 36, 45, 58, 68, 89, 98, 99, 698}

In [92]:
set1={45,36,58,98,7}
set2={45,68,99,89,698}
set1.intersection(set2)
# print(set1)
# print(set2)

{45}

In [48]:
set1={45,36,58,98,7}
set2={45,68,99,89,698}
set1.intersection_update(set2)
print(set1)
print(set2)

{45}
{99, 68, 89, 698, 45}

In [52]:
set1={45,36,58,79,45}
set1.update("grgr")
print(set1)

{'g', 36, 45, 79, 'r', 58}

In [54]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
set2.difference(set1)

{7, 8, 9}

In [56]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
set2.difference_update(set1)
print(set1)
print(set2)

{1, 2, 3, 4, 5, 6}
{7, 8, 9}

In [66]:
set1={45,36,58,968,45}
set1.pop()
print(set1)

{58, 36, 45}

In [75]:
set1={45,36,58,968,45}
set1.remove(58)
# set1.remove(4588) 3keyerror

print(set1)

{968, 36, 45}

In [76]:
set1={45,36,58,968,45}
set1.discard(4587)
print(set1)

{968, 58, 36, 45}

In [93]:
set1={4,5,6,8}
set2={1,2,3,8}
set1.isdisjoint(set2)

False

In [ ]:
{1,2,3}

{1},{2},{3},{1,2},{2,3},{1,3},{1,2,3}

In [94]:
set1={1,2,3}
set2={1}
set2.issubset(set1)

True

In [86]:
set1={1,2,3}
set2={5}
set1.issuperset(set2)

False

In [87]:
set1={4,5,6,8}
set2={1,2,3,8}
set1.symmetric_difference(set2)

{1, 2, 3, 4, 5, 6}

In [89]:
set1={4,5,6,8}
set2={1,2,3,8}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6}